@charset "UTF-8";
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/Century_Gothic_Bold-webfont.eot');
  src: url('../fonts/Century_Gothic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Century_Gothic_Bold-webfont.woff2') format('woff2'),
       url('../fonts/Century_Gothic_Bold-webfont.woff') format('woff'),
       url('../fonts/Century_Gothic_Bold-webfont.ttf') format('truetype'),
       url('../fonts/Century_Gothic_Bold-webfont.svg#century_gothicbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Century Gothic Regular';
    src: url('../fonts/Century_Gothic_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Century Gothic Regular', sans-serif;
}
#stage1_port1{
    background-image: url("../img/img-1.png");
    height: 100%;
    width: 50%;;
}
#stage1_port2{
    background-image: url("../img/form-1.png");
    height: 100%;
    width: 50%;
    left: 50%;
}
#stage1_img1{
    top: 200px;
    left: 80px;   
}
#stage1_img2{
    top: 360px;
    left: 80px;
    
}

#stage2_port1{
    background-image: url("../img/form-2.png");
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#stage2_port1 div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#stage2_port2{
    height: 100%;
    width: 50%;
    left: 30%;
   
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
   
    padding: 30px 20px 30px 20px;
}
#slider2_header{
    background: url("../img/form-3.png") !important;
    height: 190px;
} 
.paso1{
    background: url("../img/graf-2.png") !important;
    background-position: center !important;
    height: 90px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}
.paso2{
    background: url("../img/graf-1.png") !important;
    background-position: center !important;
    height: 90px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    text-align: center;
    color: #FFF;
    font-size: 3em;
    padding-top: 10px;
}
#slider3{
    background-image: url("../img/img-2.png?id=0") !important;
    background-color: #FFF !important;
    background-position: left !important;

   
    background-repeat: no-repeat;
}
#box-3{
    left: 420px;
    top: 150px;
    width: 420px;
}
ul {
    list-style-type: none;
    margin-left: 20px;
}
ul li{
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.2em;
}
li:before {
    content: "\25A0"; /* Código Unicode para un cuadrado negro */
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
    color: #79BF00; /* Color del cuadrado */
    font-size: 1.2em; /* Tamaño del cuadrado */
    text-align: center; /* Centrar el cuadrado */
  }
  @media screen and (max-width: 1025px) {
    #stage1_port2{
        background-image: url("../img/form-1.png");
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    img{
        margin: 20px;
    }
    #slider3{
        background-size: 0% 100% !important;
    }
}